contracts/doculink-storage-links-v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://doculink.dev/schemas/storage/1/links"
           xmlns:dl="http://doculink.dev/schemas/storage/1/links"
           elementFormDefault="qualified">

  <xs:element name="DocuLinkLinks" type="dl:DocuLinkLinksType" />

  <xs:complexType name="DocuLinkLinksType">
    <xs:sequence>
      <xs:element name="LinkedRectangles" type="dl:LinkedRectanglesType" />
    </xs:sequence>
    <xs:attribute name="version" type="xs:unsignedInt" use="required" />
  </xs:complexType>

  <xs:complexType name="LinkedRectanglesType">
    <xs:sequence>
      <xs:element name="LinkedRectangle" type="dl:LinkedRectangleType"
                  minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LinkedRectangleType">
    <xs:sequence>
      <xs:element name="Cell" type="dl:CellType" />
      <xs:element name="Rect" type="dl:RectType" />
    </xs:sequence>
    <xs:attribute name="id"         type="xs:string"        use="required" />
    <xs:attribute name="pdfId"      type="xs:string"        use="required" />
    <xs:attribute name="linkType"   type="dl:LinkTypeEnum"  use="optional" />
    <xs:attribute name="sourceText" type="xs:string"        use="optional" />
  </xs:complexType>

  <xs:simpleType name="LinkTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="auto" />
      <xs:enumeration value="raw" />
      <xs:enumeration value="sum" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CellType">
    <xs:attribute name="sheet"      type="xs:string"      use="required" />
    <xs:attribute name="address"    type="xs:string"      use="required" />
    <xs:attribute name="trackIndex" type="xs:positiveInteger" use="required" />
  </xs:complexType>

  <xs:complexType name="RectType">
    <xs:attribute name="page"            type="xs:unsignedInt"          use="required" />
    <xs:attribute name="x"               type="xs:double"               use="required" />
    <xs:attribute name="y"               type="xs:double"               use="required" />
    <xs:attribute name="width"           type="xs:double"               use="required" />
    <xs:attribute name="height"          type="xs:double"               use="required" />
    <xs:attribute name="coordinateSpace" type="dl:CoordinateSpaceType"  use="required" />
  </xs:complexType>

  <xs:simpleType name="CoordinateSpaceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="normalized" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
