contracts/doculink-storage-v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://doculink.dev/schemas/storage/1"
           xmlns:dl="http://doculink.dev/schemas/storage/1"
           elementFormDefault="qualified">

  <xs:element name="DocuLinkStore" type="dl:DocuLinkStoreType" />

  <xs:complexType name="DocuLinkStoreType">
    <xs:sequence>
      <xs:element name="Folders" type="dl:FoldersType" />
      <xs:element name="Pdfs" type="dl:PdfsType" />
      <xs:element name="LinkedRectangles" type="dl:LinkedRectanglesType" />
    </xs:sequence>
    <xs:attribute name="version" type="xs:unsignedInt" use="required" />
  </xs:complexType>

  <!-- ── Folder catalogue ───────────────────────────────────────────────── -->

  <xs:complexType name="FoldersType">
    <xs:sequence>
      <xs:element name="Folder" type="dl:FolderType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FolderType">
    <xs:attribute name="id"   type="xs:string" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <!-- ── PDF catalogue ──────────────────────────────────────────────────── -->

  <xs:complexType name="PdfsType">
    <xs:sequence>
      <xs:element name="Pdf" type="dl:PdfType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PdfType">
    <xs:attribute name="id"            type="xs:string"   use="required" />
    <xs:attribute name="name"          type="xs:string"   use="required" />
    <xs:attribute name="Base64"        type="xs:string"   use="required" />
    <xs:attribute name="folderId"      type="xs:string"   use="optional" />
    <xs:attribute name="dateAdded"     type="xs:dateTime" use="optional" />
    <xs:attribute name="fileSizeBytes" type="xs:long"     use="optional" />
  </xs:complexType>

  <!-- ── Cell-to-PDF-region links ───────────────────────────────────────── -->

  <xs:complexType name="LinkedRectanglesType">
    <xs:sequence>
      <xs:element name="LinkedRectangle" type="dl:LinkedRectangleType"
                  minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LinkedRectangleType">
    <xs:sequence>
      <xs:element name="Cell" type="dl:CellType" />
      <xs:element name="Rect" type="dl:RectType" />
    </xs:sequence>
    <xs:attribute name="id"    type="xs:string" use="required" />
    <xs:attribute name="pdfId" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="CellType">
    <xs:attribute name="sheet"      type="xs:string"      use="required" />
    <xs:attribute name="address"    type="xs:string"      use="required" />
    <xs:attribute name="trackIndex" type="xs:positiveInteger" use="required" />
  </xs:complexType>

  <xs:complexType name="RectType">
    <xs:attribute name="page"            type="xs:unsignedInt"          use="required" />
    <xs:attribute name="x"               type="xs:double"               use="required" />
    <xs:attribute name="y"               type="xs:double"               use="required" />
    <xs:attribute name="width"           type="xs:double"               use="required" />
    <xs:attribute name="height"          type="xs:double"               use="required" />
    <xs:attribute name="coordinateSpace" type="dl:CoordinateSpaceType"  use="required" />
  </xs:complexType>

  <xs:simpleType name="CoordinateSpaceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="normalized" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
