contracts/doculink-storage-content-v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  Content Custom XML part: metadata only.
  Binary data (PDF bytes + geometry) lives in per-PDF Custom XML parts with namespace:
    http://doculink.dev/schemas/storage/1/pdf-data/{pdfId}
  See doculink-storage-pdf-binary-v1.xsd for that schema.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://doculink.dev/schemas/storage/1/content"
           xmlns:dl="http://doculink.dev/schemas/storage/1/content"
           elementFormDefault="qualified">

  <xs:element name="DocuLinkContent" type="dl:DocuLinkContentType" />

  <xs:complexType name="DocuLinkContentType">
    <xs:sequence>
      <xs:element name="Folders" type="dl:FoldersType" />
      <xs:element name="Pdfs" type="dl:PdfsType" />
    </xs:sequence>
    <xs:attribute name="version" type="xs:unsignedInt" use="required" />
  </xs:complexType>

  <xs:complexType name="FoldersType">
    <xs:sequence>
      <xs:element name="Folder" type="dl:FolderType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FolderType">
    <xs:attribute name="id"   type="xs:string" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="PdfsType">
    <xs:sequence>
      <xs:element name="Pdf" type="dl:PdfType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PdfType">
    <xs:attribute name="id"            type="xs:string"   use="required" />
    <xs:attribute name="name"          type="xs:string"   use="required" />
    <xs:attribute name="folderId"      type="xs:string"   use="optional" />
    <xs:attribute name="dateAdded"     type="xs:dateTime" use="optional" />
    <xs:attribute name="fileSizeBytes" type="xs:long"     use="optional" />
    <xs:attribute name="ocrStatus"     type="xs:string"   use="optional" />
  </xs:complexType>

</xs:schema>
